<br>
<br>
<br>
<div class="container">

<h1>Classes</h1>
<div ng-if="getCurrentUser() === 'Agency'">
<form ng-submit="addClass(classData)" class="form-horizontal">

	<div class="form-group">
	<label class="control-label col-sm-2" for="title">Title</label>
	<div class="col-sm-10">
		<input id="title" class="form-control" ng-model="classData.title" placeholder="Title for your class" required autofocus>
	</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="description">Description</label>
		<div class="col-sm-10">
		<input id="description" class="form-control" type="text" ng-model="classData.description" placeholder"Description of your class" required>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="date">Date</label>
		<div class="col-sm-5">
		<input id="date" class="form-control" type="date" ng-model="classData.classDate" placeholder="Date" required>
		</div>

		<div class="col-sm-5">
			<input id="time" class="form-control" type="time" ng-model="classData.classTime" placeholder="Time" required>
		</div>
	</div>

	<div class="form-group">
			    
			        <label class="control-label col-sm-2">Select Badges: </label>
			        <div class="col-sm-10">
			       	
			       		<div ng-repeat="badge in badges">
					      <span ng-switch="" on="$index % 3">

					        <div class="row" ng-switch-when="0">
					          <div class="col-sm-4" ng-show="badges[$index+0]">
					          	 <div class="panel panel-default my_panel">
						            <div class="panel-body">
						              <img ng-src="{{badges[$index+0].url}}" alt="" class="img-responsive center-block" />
						            </div>
						            <div class="panel-footer">
						            	
						             	<input name="{{badges[$index+0].name}}" type="number" min="0" ng-model="badges[$index+0].quantity" class="form-control">
						            
						            </div>
						          </div>		    
					          </div>

					          <div class="col-sm-4" ng-show="badges[$index+1]">
					          	 <div class="panel panel-default my_panel">
						            <div class="panel-body">
						              <img ng-src="{{badges[$index+1].url}}" alt="" class="img-responsive center-block" />
						            </div>
						            <div class="panel-footer">
						            	
						             	<input name="{{badges[$index+1].name}}" type="number" min="0" ng-model="badges[$index+1].quantity" class="form-control">
						            
						            </div>
						          </div>		    
					          </div>


					        <div class="col-sm-4" ng-show="badges[$index+2]">
					          	 <div class="panel panel-default my_panel">
						            <div class="panel-body">
						              <img ng-src="{{badges[$index+2].url}}" alt="" class="img-responsive center-block" />
						            </div>
						            <div class="panel-footer">
						            	
						             	<input name="{{badges[$index+2].name}}" type="number" min="0" ng-model="badges[$index+2].quantity" class="form-control">
						            
						            </div>
						          </div>		    
					          </div>

					        </div>
					      </span>
			    		</div>

			       	</div>


		    	</div>

		    	<div class="form-group">
			    
			        <label class="control-label col-sm-2"> </label>
			       
			    	<div class="col-sm-5">
			        	<button class="btn btn-primary">submit</button>
			    	</div>
		    	</div>
	
<!-- 
	<label></label>
	<input></input>

	<label></label>
	<input></input>
 -->

</form>
</div>

<!--<button ng-click="populateBadges()">Populate badges</button>-->
<div class="panel-group" id="accordion">
	  <div class="panel panel-default" ng-repeat="class in classes">
	  	<div class="panel-heading">
	    <a  ng-click="activateClass(class, $index)">
	    <span class="label label-default label-pill pull-right">{{class.date}}</span>
	    {{class.title}}
	    </a>
	    </div>

	    <div class="panel-body" ng-show="classes[$index].open">

	    <div class="row">
	    	<div class="col-sm-2">
<button class="btn btn-success" ng-show="$parent.isLoggedIn() && (canJoinClass() || !currentStudentIsAlreadyEnrolled)" ng-click="joinClass()">Join this class</button>
			</div>
		</div>

		<br/>
	    	<div class="row">
			        <label class="control-label col-sm-2">Title: </label>
			        <div class="col-sm-10">
			        	{{class.title}}
			    	</div>

			    </div>

			    <div class="row">
					<label class="control-label col-sm-2">Description: </label>
			        <div class="col-sm-10">
			        	{{class.description}}
			    	</div>
			    </div>

			    <div class="row">
					<label class="control-label col-sm-2">Application Deadline: </label>
			        <div class="col-sm-10">
			        	{{class.classDate}}
			    	</div>
			    </div>

			    <div class="row">
					<label class="control-label col-sm-2">Earnable Badges: </label>
			        <div class="col-sm-10">
			        	<div ng-repeat="badge in class.badges">
			        	
					      <span ng-switch="" on="$index % 3">

					        <div class="row" ng-switch-when="0">
					          <div class="col-sm-4" ng-show="class.badges[$index+0]">
					          	 <div class="panel panel-default my_panel">
						            <div class="panel-body">
						              <img ng-src="{{class.badges[$index+0].url}}" alt="" class="img-responsive center-block" />
						            </div>
						           
						          </div>		    
					          </div>

					          <div class="col-sm-4" ng-show="class.badges[$index+1]">
					          	 <div class="panel panel-default my_panel">
						            <div class="panel-body">
						              <img ng-src="{{class.badges[$index+1].url}}" alt="" class="img-responsive center-block" />
						            </div>
						           
						          </div>		    
					          </div>


					        <div class="col-sm-4" ng-show="class.badges[$index+2]">
					          	 <div class="panel panel-default my_panel">
						            <div class="panel-body">
						              <img ng-src="{{class.badges[$index+2].url}}" alt="" class="img-responsive center-block" />
						            </div>
						            
						          </div>		    
					          </div>

					        </div>
					      </span>
			    		</div>
			    	</div>

			    </div>

			    <div class="row">
<label class="control-label col-sm-2">Participants: </label>
			    <ul ng-show="getCurrentUser() === 'Earner' && activeClass != null"> 
			    <div class="col-sm-10">
			    <ul>
					<!-- TODO fix it change Earner to agency -->
					<li ng-repeat="participant in participants">
						<a  ng-click="goToProfile(participant)"> {{participant.firstName}} {{participant.lastName}} </a>
					</li>
				</ul>

			    </div>
	    </div>

	  </div>
</div>


<div class="col-md-6" ng-show="activeClass != null">

	

	<ul ng-show="getCurrentUser() === 'Earner' && activeClass != null"> 
		<!-- TODO fix it change Earner to agency -->
		<li ng-repeat="participant in participants">
			<a  ng-click="goToProfile(participant)"> {{participant.firstName}} {{participant.lastName}} </a>
		</li>
	</ul>

</div>
</div>
