<div class="container">
<br />
<h1>Available Tasks <a href="" ng-click="clickToAdd()" ng-disabled="canAdd != true"><i class="fa fa-plus-square text-right"></i></a></h1> 


	<div ng-if="addingNewTask == true">

		<form action="" method="post" class="form-horizontal">
		    <h1>Create a new task</h1>

		
		    	<div class="form-group">
			    
			        <label class="control-label col-sm-2">Title: </label>
			        <div class="col-sm-10">
			        	<input id="title" type="text" name="title" placeholder="Title" ng-model="newTaskData.title" class="form-control" required/>
			    	</div>
		    	</div>

		    	<div class="form-group">
			    
			        <label class="control-label col-sm-2">Description: </label>
			        <div class="col-sm-10">
			        	<textarea id="description" name="desciption" placeholder="Description" ng-model="newTaskData.description" class="form-control" rows="4" required></textarea>
			    	</div>
		    	</div>

		    	<div class="form-group">
			    
			        <label class="control-label col-sm-2">Application Deadline: </label>
			        <div class="col-sm-5">
			        	<input id="date" type="date" name="date" ng-model="newTaskData.date" class="form-control" required/>
			    	</div>
			    	<div class="col-sm-5">
			        	<input id="time" type="time" name="time" ng-model="newTaskData.time" value="11:59:PM" class="form-control" required/>
			    	</div>
		    	</div>
		    
		    	<div class="form-group">
			    
			        <label class="control-label col-sm-2">Select Badges: </label>
			        <div class="col-sm-10">
			       	
			       		<div ng-repeat="badge in badges">
					      <span ng-switch="" on="$index % 3">

					        <div class="row" ng-switch-when="0">
					          <div class="col-sm-4" ng-show="badges[$index+0]">
					          	 <div class="panel panel-default my_panel">
						            <div class="panel-body">
						              <img ng-src="{{badges[$index+0].url}}" alt="" class="img-responsive center-block" />
						            </div>
						            <div class="panel-footer">
						            	
						             	<input name="{{badges[$index+0].name}}" type="number" min="0" ng-model="badges[$index+0].quantity" class="form-control">
						            
						            </div>
						          </div>		    
					          </div>

					          <div class="col-sm-4" ng-show="badges[$index+1]">
					          	 <div class="panel panel-default my_panel">
						            <div class="panel-body">
						              <img ng-src="{{badges[$index+1].url}}" alt="" class="img-responsive center-block" />
						            </div>
						            <div class="panel-footer">
						            	
						             	<input name="{{badges[$index+1].name}}" type="number" min="0" ng-model="badges[$index+1].quantity" class="form-control">
						            
						            </div>
						          </div>		    
					          </div>


					        <div class="col-sm-4" ng-show="badges[$index+2]">
					          	 <div class="panel panel-default my_panel">
						            <div class="panel-body">
						              <img ng-src="{{badges[$index+2].url}}" alt="" class="img-responsive center-block" />
						            </div>
						            <div class="panel-footer">
						            	
						             	<input name="{{badges[$index+2].name}}" type="number" min="0" ng-model="badges[$index+2].quantity" class="form-control">
						            
						            </div>
						          </div>		    
					          </div>

					        </div>
					      </span>
			    		</div>

			       	</div>


		    	</div>
		       
		      	<div class="form-group">
			    
			        <label class="control-label col-sm-2"> </label>
			        <div class="col-sm-2">
			        	<button value="Cancel" ng-click="cancelNewTask()" class="btn btn-primary">Cancel</button>
			    	</div>
			    	<div class="col-sm-5">
			        	<button value="Save" ng-click="saveNewTask(newTaskData)" class="btn btn-primary">Save</button>
			    	</div>
		    	</div>
  
		</form>
	   
	</div>

	<!-- Lists of tasks -->


	<div class="panel-group" id="accordion">
	  <div class="panel panel-default" ng-repeat="task in tasks">
	  	<div class="panel-heading">
	    <a href="" ng-click="openTask($index, task)">
	    <span class="label label-default label-pill pull-right">{{task.date}}</span>
	    {{task.title}}
	    </a>
	    </div>
	  
	    <div class="panel-body" ng-show="tasks[$index].open">

	    		<div class="row" ng-if="$parent.getCurrentUser() === 'Earner' ">
	    			<div class="col-sm-2">
	    			<button class="control-label btn btn-success" ng-click="apply(task)">APPLY</button>
	    			</div>
	    		</div>
	    		<br/>
			    <div class="row">
			        <label class="control-label col-sm-2">Title: </label>
			        <div class="col-sm-10">
			        	{{task.title}}
			    	</div>

			    </div>

			    <div class="row">
					<label class="control-label col-sm-2">Description: </label>
			        <div class="col-sm-10">
			        	{{task.description}}
			    	</div>
			    </div>

			    <div class="row">
					<label class="control-label col-sm-2">Application Deadline: </label>
			        <div class="col-sm-10">
			        	{{task.date}}
			    	</div>
			    </div>

			    <div class="row">
					<label class="control-label col-sm-2">Earnable Badges: </label>
			        <div class="col-sm-10">
			        	<div ng-repeat="badge in task.badges">
			        	
					      <span ng-switch="" on="$index % 3">

					        <div class="row" ng-switch-when="0">
					          <div class="col-sm-4" ng-show="task.badges[$index+0]">
					          	 <div class="panel panel-default my_panel">
						            <div class="panel-body">
						              <img ng-src="{{task.badges[$index+0].url}}" alt="" class="img-responsive center-block" />
						            </div>
						           
						          </div>		    
					          </div>

					          <div class="col-sm-4" ng-show="task.badges[$index+1]">
					          	 <div class="panel panel-default my_panel">
						            <div class="panel-body">
						              <img ng-src="{{task.badges[$index+1].url}}" alt="" class="img-responsive center-block" />
						            </div>
						           
						          </div>		    
					          </div>


					        <div class="col-sm-4" ng-show="task.badges[$index+2]">
					          	 <div class="panel panel-default my_panel">
						            <div class="panel-body">
						              <img ng-src="{{task.badges[$index+2].url}}" alt="" class="img-responsive center-block" />
						            </div>
						            
						          </div>		    
					          </div>

					        </div>
					      </span>
			    		</div>
			    	</div>

			    </div>

			    <div class="row" ng-if="$parent.getCurrentUser() === 'Employer'">
			    	<label class="control-label col-sm-2">Participants: </label>
			    	<div class="col-sm-10">
			    	<ul>
			    		<li ng-repeat="participant in participants">{{participant.firstName}} {{participant.lastName}}</li>
			    	</ul>
			    	</div>
			    </div>
	    	
	    </div>
	  </div>
	</div>
	<!-- TEsting-->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">





</div>